.env
.venv/
temp_0_Chapter 1 2 3.pdf
temp_0_2508.05004v2.pdf
temp_0_Financial Sample.xlsx
temp_0_kanoun-bina2-646-short.pdf
temp_0_kanoun-bina2-646.pdf
temp_0_New Microsoft Word Document.pdf
temp_1_Financial Sample.xlsx
temp_1_kanoun-bina2-646-short.pdf
temp_1_New Microsoft Word Document.pdf
test_cohere.py
